<!-- views/index.ejs -->
<!doctype html>
<html>

<head>
    <title>IOT Integrated Management Platform</title>
    <style>
        body{padding-top:80px;}
    </style>
</head>

<body>
	<div class="container">

		<div class="jumbotron text-center">
			<h1>WiseLab IOTPlatform</h1>

			<p>Login or Register with</p>

			<a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
			<a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
			<a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>


		</div>
		<a href="/detection" class="btn btn-primary"> Detection</a>
		<a href="/profile" class="btn btn-primary"> Profile</a>

	</div>
	
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- load fontawesome -->
	
</body>

</html>
