<!-- views/index.ejs -->
<!doctype html>
<html>

<head>
	<title>IOT Integrated Management Platform</title>
	<style>
		body{padding-top:80px;}
	</style>
</head>

<body>
	<div class="container">

		<p><%= JSON.stringify(message) %></p>

		<a href="/detection/jobs" class="btn btn-default"> Back</a>

	</div>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- load fontawesome -->
</body>

</html>